@media screen and (max-width: 740px) {
	/* xxx-share--circle-big */
	.xxx-share.xxx-share--circle-big .xxx-share__link {
		width: 35px;
		height: 35px;
	}
	/* xxx-share--circle-big //end */

	.xxx-share__item:first-child {
		margin-left: 0;
	}
}