/* main-subscribe--new */
@media screen and (max-width: 1100px) {
	.xxx-main-subscribe.xxx-main-subscribe--new .xxx-subscription-form {
		background: 
		/* url(/css/new_markup/img/select_credit/mobile_illustration.png) right center no-repeat, radial-gradient(250px at 68% 50%, #f1f4f7 0%, #f1f4f7 80%, rgba(255, 255, 255, 0) 100%), */
		url(/images/backgrounds/main-subscribe/mobile_illustration.png) right center no-repeat, radial-gradient(250px at 68% 50%, #f1f4f7 0%, #f1f4f7 80%, rgba(255, 255, 255, 0) 100%);
	}
}

@media screen and (max-width: 740px) {
	.xxx-main-subscribe.xxx-main-subscribe--new .xxx-subscription-form {
		background: 
		/* url(/css/new_markup/img/select_credit/mobile_illustration.png) right -270px center no-repeat, radial-gradient(250px at 99% 50%, #f1f4f7 0%, #f1f4f7 80%, rgba(255, 255, 255, 0) 100%), */
		url(/images/backgrounds/main-subscribe/mobile_illustration.png) right -270px center no-repeat, radial-gradient(250px at 99% 50%, #f1f4f7 0%, #f1f4f7 80%, rgba(255, 255, 255, 0) 100%);
	}
}

@media screen and (max-width: 740px) {

	.xxx-main-subscribe.xxx-main-subscribe--new .xxx-subscription-form.xxx-subscription-form--in-listing .xxx-subscription-form__wrapp {
		width: 100%;
	}
}

@media screen and (max-width: 740px) {
	.xxx-main-subscribe.xxx-main-subscribe--new .xxx-subscription-form.xxx-subscription-form--in-listing .xxx-subscription-form__wrapp {
		padding-left: 15px;
	}
}

/* main-subscribe--new //end */